{% extends 'base.html.twig' %}

{% block title %}Edit Invoice{% endblock %}

{% block body %}
<div class="edit-invoice-container">
    <h1 class="edit-invoice-title">Edit Invoice</h1>
    <div class="edit-invoice-form-container">
        {{ include('invoice/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="edit-invoice-actions">
            <a href="{{ path('app_invoice_index') }}" class="edit-invoice-back-link">Back to list</a>
            {{ include('invoice/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
