{% extends 'base.html.twig' %}

{% block title %}New Invoice{% endblock %}

{% block body %}
<div class="new-invoice-container">
    <div class="new-invoice-header">
        <h1 class="new-invoice-title">Create New Invoice</h1>
    </div>
    <div class="new-invoice-form-container">
        {{ include('invoice/_form.html.twig') }}
        <a href="{{ path('app_invoice_index') }}" class="new-invoice-back-link">Back to list</a>
    </div>
</div>
{% endblock %}
