*, *:after, *:before {
    box-sizing: border-box;
}

.register-background {
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    background-color: #fafbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 2rem;
}

.register-container {
    width: 100%;
    max-width: 425px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 1.75rem;
}

.register-container > h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: inherit;
    color: #000;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-control {
    width: 100%;
    border: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
    color: #000;
}

.form-control:focus, .form-control:valid {
    outline: 0;
    border-bottom-color: #000;
}

.form-control:focus + label, .form-control:valid + label {
    color: #000;
    transform: translateY(-100000.5rem);
}

.register-btn[type="submit"] {
    margin-top: 2rem;
    font: inherit;
    font-size: 1.25rem;
    padding: 0.5em;
    width: 100%;
    font-weight: 200;
    background-color: #000;
    border-radius: 20px;
    color: #FFF;
    border: 0;
    cursor: pointer;
}

button[type="submit"]:focus {
    outline: 0;
}

.card-info {
    padding: 1rem 0 0;
    text-align: center;
    font-size: 0.875rem;
    color: #8597a3;
}

.card-info a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-top: 0.5rem;
}

.register-card-info a:hover {
    text-decoration: underline;
}

/* CSS pour les cases à cocher */
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    color: #000;
    position: relative;
    margin-left: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 0.5rem;
}

/* Assurez-vous que chaque case à cocher est correctement espacée */
.checkbox-group div {
    display: flex;
    align-items: center;
}
