{% extends 'base.html.twig' %}
{% block title %}Edit Project{% endblock %}
{% block body %}
<div class="edit-project-container">
    <h1 class="edit-project-title">Edit Project</h1>
    <div class="edit-project-form-container">
        {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="edit-project-actions">
            <a href="{{ path('app_project_index') }}" class="edit-project-back-link">Back to list</a>
            {{ include('project/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
